In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('dogs_dataset.csv')

In [3]:
data.head(10)

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0      Airedale Terrier           13           35          White    Male
1  Jack Russell Terrier           10           43            Tan  Female
2        Dogo Argentino            2           16        Spotted  Female
3    Labrador Retriever            9           57        Bicolor    Male
4        French Bulldog           12           39        Spotted    Male
5        French Bulldog            9            8  Black and Tan  Female
6          Bull Terrier            7           54            Red  Female
7                 Boxer            1           47          Black  Female
8        Cocker Spaniel           13            5        Brindle    Male
9     Shetland Sheepdog            1           11          Cream  Female

In [4]:
data.describe() # NO STRANGE VALUES LIKE AGE IN -VE PRESSENT

       Age (Years)  Weight (kg)
count  3000.000000  3000.000000
mean      7.499000    32.059667
std       4.011238    15.628463
min       1.000000     5.000000
25%       4.000000    19.000000
50%       8.000000    33.000000
75%      11.000000    45.000000
max      14.000000    59.000000

In [5]:
data.info() #NO NULL VALUES PRESENT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Breed        3000 non-null   object
 1   Age (Years)  3000 non-null   int64
 2   Weight (kg)  3000 non-null   int64
 3   Color        3000 non-null   object
 4   Gender       3000 non-null   object
dtypes: int64(2), object(3)
memory usage: 117.3+ KB

In [6]:
columns=data.columns

### DIVIDING THE COLUMNS INTO CATEGORICAL,NUMERICAL AND TARGET ONES

In [7]:
categorical=[]
numerical=[]
target=data.columns[-1]
for column in columns[0:-1]:
    if(type(data[column][0])==str):
        categorical.append(column)
    else:
        numerical.append(column)

In [8]:
categorical,numerical,target

(['Breed', 'Color'], ['Age (Years)', 'Weight (kg)'], 'Gender')

### CONVERTING THE CATEGORICL DATA INTO NUMERICAL USING ONE HOT ENCODING

In [9]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the one-hot encoder
one_hot_encoder = OneHotEncoder()

# Apply one-hot encoding to the 'Color' column
one_hot_encoded = one_hot_encoder.fit_transform(data[categorical])

# Convert the result to a DataFrame
data_one_hot_sklearn = pd.DataFrame(one_hot_encoded.toarray(), columns=one_hot_encoder.get_feature_names_out(categorical))

# Concatenate the new one-hot encoded columns to the original dataframe
data = pd.concat([data, data_one_hot_sklearn], axis=1)

In [10]:
data.columns

Index(['Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'Breed_Airedale Terrier', 'Breed_Akita', 'Breed_Alaskan Malamute',
       'Breed_Australian Shepherd', 'Breed_Basenji', 'Breed_Beagle',
       'Breed_Belgian Malinois', 'Breed_Bernese Mountain Dog',
       'Breed_Bichon Frise', 'Breed_Bloodhound', 'Breed_Border Collie',
       'Breed_Boston Terrier', 'Breed_Boxer', 'Breed_Bull Terrier',
       'Breed_Bulldog', 'Breed_Cavalier King Charles Spaniel',
       'Breed_Chesapeake Bay Retriever', 'Breed_Chihuahua',
       'Breed_Chinese Shar-Pei', 'Breed_Cocker Spaniel', 'Breed_Dachshund',
       'Breed_Doberman Pinscher', 'Breed_Dogo Argentino',
       'Breed_French Bulldog', 'Breed_German Shepherd',
       'Breed_Golden Retriever', 'Breed_Great Dane', 'Breed_Havanese',
       'Breed_Irish Setter', 'Breed_Jack Russell Terrier',
       'Breed_Labrador Retriever', 'Breed_Lhasa Apso', 'Breed_Maltese',
       'Breed_Miniature Schnauzer', 'Breed_Papillon', 'Breed_Pekingese',
       'Breed_Pembroke Welsh Corgi', 'Breed_Pomeranian', 'Breed_Poodle',
       'Breed_Pug', 'Breed_Rottweiler', 'Breed_Saint Bernard', 'Breed_Samoyed',
       'Breed_Schnauzer', 'Breed_Shetland Sheepdog', 'Breed_Shiba Inu',
       'Breed_Shih Tzu', 'Breed_Siberian Husky', 'Breed_Vizsla',
       'Breed_Weimaraner', 'Breed_West Highland White Terrier',
       'Breed_Whippet', 'Breed_Yorkshire Terrier', 'Color_Bicolor',
       'Color_Black', 'Color_Black and Tan', 'Color_Black and White',
       'Color_Blue', 'Color_Brindle', 'Color_Brown', 'Color_Cream',
       'Color_Gray', 'Color_Merle', 'Color_Red', 'Color_Sable',
       'Color_Spotted', 'Color_Tan', 'Color_Tricolor', 'Color_White'],
      dtype='object')

In [11]:
data=data.drop(columns=categorical) #AS NOW HAVE NUMERICAL COLS OF CATEGORICAL ONES SO NO NEED OF THEM

In [12]:
cols_need=data.columns.drop(target) # THE COLS OTHER THAN TARGET

### CONVERT EACH AND EVERY ELEMENT TO SMALL NUMBER TO REDUCE BIASNESS

In [13]:
from sklearn.preprocessing import StandardScaler
# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the data and transform the data
scaled_data = scaler.fit_transform(data[cols_need])
data_scaled = pd.DataFrame(scaled_data, columns=cols_need)

In [14]:
data_scaled

,Age (Years),Weight (kg),Breed_Airedale Terrier,Breed_Akita,Breed_Alaskan Malamute,Breed_Australian Shepherd,Breed_Basenji,Breed_Beagle,Breed_Belgian Malinois,Breed_Bernese Mountain Dog,...,Color_Brown,Color_Cream,Color_Gray,Color_Merle,Color_Red,Color_Sable,Color_Spotted,Color_Tan,Color_Tricolor,Color_White
0,1.371626,0.188171,7.317476,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,3.934910
1,0.623602,0.700143,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,4.042405,-0.242022,-0.254135
2,-1.371127,-1.027762,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,3.834945,-0.247377,-0.242022,-0.254135
3,0.374261,1.596094,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,-0.254135
4,1.122285,0.444157,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,3.834945,-0.247377,-0.242022,-0.254135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-0.623104,-0.451794,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,4.042405,-0.242022,-0.254135
2996,0.872943,0.124175,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,-0.254135
2997,-0.872445,1.084122,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,-0.254135
2998,1.371626,-1.603731,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,-0.254135
2999,-0.124421,-0.835773,-0.136659,-0.131507,-0.136659,-0.131507,-0.128859,-0.136659,-0.122004,-0.137919,...,-0.259299,-0.240474,-0.251898,-0.266545,-0.256358,-0.266545,-0.260760,-0.247377,-0.242022,3.934910

### BUILDING KNN MODEL FROM SCRATCH

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data_scaled,data[target],test_size=0.2)
X_train_np,X_test_np,Y_train_np,Y_test_np=X_train.to_numpy(),X_test.to_numpy(),Y_train.to_numpy(),Y_test.to_numpy()

In [16]:
class Knn:
    def __init__(self,k):
        self.k=k

    def fit(self,x,y):
        self.x=x
        self.y=y
        
    def eucledian(self,x1,x2):
        return np.sqrt(np.sum((x1-x2)**2,axis=1))
        
    def _predict(self,single): # for single dataset
        predictions=self.eucledian(self.x,single)
        ppop=np.argsort(predictions)[:self.k]
        real_predict=np.array(self.y[ppop])
        return real_predict
        
    def predict(self,x1):
        predictions=[self._predict(np.array(element)) for element in x1]
        real_predicts=[]
        for i in predictions:
            unique_values, counts = np.unique(i, return_counts=True)
            max_count = np.argmax(counts)
            max_value = unique_values[np.argmax(counts)]
            real_predicts.append(max_value)
        return real_predicts
        
    def accuracy_classification(self,y_predict,y1):
        ppoo=np.array(y_predict==y1)
        acc=(np.sum(ppoo)/len(y1))*100
        return acc

In [17]:
array=[]
for k in range(1,40,2):
    clf=Knn(k)
    clf.fit(X_train_np,Y_train_np)
    predictions=clf.predict(X_test_np)
    array.append(clf.accuracy_classification(Y_test_np,predictions))

In [18]:
array=np.array(array)

In [19]:
np.argmax(array)

1

In [20]:
array

array([48.66666667, 50.5       , 48.16666667, 47.5       , 44.66666667,
       47.33333333, 47.16666667, 46.83333333, 45.66666667, 45.        ,
       45.83333333, 47.16666667, 45.83333333, 48.16666667, 47.5       ,
       48.83333333, 47.66666667, 47.66666667, 47.5       , 48.5       ])

 ## The accuracy that we got is not very good lets check is our model correct by implementing same thing with scikit learn

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
percent=[]
for i in range(1,40,2): 
    knn = KNeighborsClassifier(i)

# Fit the model
    knn.fit(X_train_np, Y_train_np)
    y_pred = knn.predict(X_test_np)
    percent.append(clf.accuracy_classification(Y_test_np,y_pred))

C:\Users\Jatin Sharma\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\Jatin Sharma\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\Jatin Sharma\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Jatin Sharma\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\Jatin Sharma\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [23]:
percent=np.array(percent)
np.argmax(percent)

1

### It seems that this model is not good for this data set for prediction but still our scratch model performed same as the acutual one